<%- include('./components/top') %>
<!-- Main Content -->
<main class="flex-grow container mx-auto px-4 py-8">
    <div class="justify-center w-full mx-auto">
        <div class="flex">
        <nav aria-label="Breadcrumb" class="border border-white/15 w-64 mb-5 inline-flex py-1.5 px-3.5 rounded-full bg-white/5 shadow">
            <ol role="list" class="flex items-center space-x-2">
                <li>
                    <a href="#_" class="text-sm flex items-center gap-2 text-zinc-400 duration-200 hover:text-zinc-300" aria-current="false">
                        <svg
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler size-5 icons-tabler-outline icon-tabler-home"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                        </svg>
                        <span>Home</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="icon icon-tabler icons-tabler-outline icon-tabler-slash size-4"
                        >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M17 5l-10 14"></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#_" class="text-sm flex items-center gap-2 font-medium text-white/80 duration-200" aria-current="false">
                        Panel Access
                    </a>
                </li>
            </ol>
        </nav>
      <span class="text-gray-600 text-md ml-5 mt-1">•</span>
      <h1 class="text-2xl font-semibold mt-0.5 ml-5 mb-0.5" style="font-family: 'Space Grotesk';">Welcome back, <%= req.session.userinfo.username %>.</h1> 
      </div>
    </div>

    <!-- Credentials Content -->
    <div class="mt-12 flex justify-center">
        <div class="text-center">
            <div class="mb-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 bg-white/5 p-1.5 rounded-xl border border-white/10 mx-auto text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
                </svg>
            </div>
            <h2 class="text-2xl font-bold mb-4">Panel Credentials</h2>
            <p class="text-gray-400 mb-6">Use these credentials to access the Brimactyl Panel.</p>
            <form>
                <div class="mb-4">
                    <input value="<%= req.session.userinfo.email %>" class="w-full text-gray-600 px-4 font-medium py-2 border rounded-full" disabled>
                </div>
                <div class="mb-4 relative">
                    <input id="password" value="<%= req.session.password ? req.session.password : '•••••••••' %> " class="w-full text-gray-600 px-4 py-2 border rounded-full font-medium" disabled>
                    <button type="button" onclick="togglePasswordVisibility()" class="absolute right-3 top-2 text-gray-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                    </button>
                </div>
                <div class="flex justify-between mb-6">
                    <a href="../panel" type="button" class="bg-orange-600 text-sm font-medium text-white px-4 py-2 rounded-full hover:bg-orange-700 transition">Go to Panel</a>
                    <button type="button" onclick="copyPassword()" class="text-sm font-medium bg-gray-200 text-gray-700 px-4 py-2 rounded-full transition hover:bg-gray-300">Copy</button>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    function togglePasswordVisibility() {
        window.location.href = "../regen"
    }

    function copyPassword() {
        const passwordInput = document.getElementById('password');
        navigator.clipboard.writeText(passwordInput.value);
        alert('Password copied to clipboard!');
    }
</script>

<%- include('./components/bottom') %>